/* form */
form {
  max-width: 36rem;
  display: grid;
  gap: 1.6rem;
}

form .input-wrapper {
  display: grid;
  gap: 0.6rem;
}

form label {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.01px;
  text-transform: uppercase;
  color: #e1e1e6;
}

form input {
  background: #121214;
  border: 1px solid #323238;
  border-radius: 6px;
  height: 41px;
  padding-inline: 1.2rem;

  width: 100%;

  color: white;
  text-transform: uppercase;
}

form .flex {
  gap: 1.4rem;
}

form .flex .input-wrapper {
  flex: 1;
}

form button {
  font-family: Poppins;
  margin-top: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0;

  background: #4cabe6;
  border-radius: 0.6rem;
  border: solid 0.05rem;
  border-color: #e1e1e6;

  cursor: pointer;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: #e1e1e6;

  transition: filter 0.3s;
}

form button:hover {
  filter: brightness(1.1);
}
